html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Shopping Cart | RENOSHOPBEE ©
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")
		link(rel="stylesheet", href="css/libs.min.css")
		link(rel="stylesheet", href="css/main.min.css")
		script(src="js/libs.min.js")
		script(src="js/common.js")
	body
		header
			.contacts-bar.wrapper
				.contacts.wrapper
					a(href='#').wrapper
						i.fas.fa-phone-alt
						div +1 123 456 789
					div |
					a(href='#').wrapper
						i.fas.fa-envelope
						div info@company.com
				.user-info.wrapper
					a(href='#').wrapper
						//<i class='fas fa-sign-in-alt'></i>
						i.fas.fa-user
						//<div>Sign In</div>
						div Alex Hlukhyi
					div |
					a(href='#').wrapper
						//<i class='fas fa-user-plus'></i>
						i.fas.fa-sign-out-alt
						//<div>Sign Up</div>
						div Sign Out
			.navigation-bar.wrapper
				a.logo(href='#')
					span.bold RENOSHOP
					span BEE
				.navigation.wrapper
					a(href='#') HOME
					a(href='#') WOMEN
					a(href='#') MEN
					a(href='#') KIDS
					a(href='#') JEWELLERY
					a(href='#') ACCESSORIES
				.small-navigation.wrapper
					#search.wrapper
						a(href='#')#close-search-button
							i.fas.fa-times
						input.small(type='text' id='search-field' placeholder='Search...')
					a(href='#')#search-button
						i.fas.fa-search
					a(href='#')
						i.fas.fa-shopping-cart
							.items-count 3
					a(href='#')#menu-button
						i.fas.fa-bars
		main
			.container
				ul.breadcrumbs
					li
						a(href='#') Home
					li
						a(href='#') Shop
					li
						a(href='#') Cart
				table.cart
					thead
						tr
							th Products
							th Color & Size
							th Quantity
							th Price
							th Total
					tbody
						tr
							th
								img.thumbnail
								| Casual Jacket
							td
								div Size: XL
								div Color: Black
							td
								input.small(type='number' value=1)
							td $120
							td
								| $120
								button.delete-button
									i.far.fa-times-circle
						tr
							th
								img.thumbnail
								| Casual Jacket
							td
								div Size: XL
								div Color: Black
							td
								input.small(type='number' value=1)
							td $120
							td
								| $120
								button.delete-button
									i.far.fa-times-circle
						tr
							th
								img.thumbnail
								| Casual Jacket
							td
								div Size: XL
								div Color: Black
							td
								input.small(type='number' value=1)
							td $120
							td
								| $120
								button.delete-button
									i.far.fa-times-circle
						tr
							td(colspan=5)
								button.white-button.small-button UPDATE CART
								button.green-button.small-button CONTINUE SHOPPING
				.order-details.wrapper
					.section
						h5 USE COUPON CODE
						p Enter your coupon code here
						.form-group.wrapper
							input.small(type='text' id='coupon-code' placeholder='Coupon code')
							button.green-button.small-button APPLY
					.section
						h5 USE GIFT VOUCHER
						p Enter your gift voucher code here
						.form-group.wrapper
							input.small(type='text' placeholder='Gift voucher code')
							button.green-button.small-button APPLY
					.section
						h5 SHIPPING AVAILABILITY
						p Select country
						select.medium
							option(disabled selected) Country
							option Ukraine
							option USA
							option Canada
						p Select state
						select.medium
							option(disabled selected) State
							option Option 1
							option Option 2
							option Option 3
						p Postcode/Zip
						input.small(type='number' placeholder='Postcode/Zip')
					.section
						h5 SHIPPING CART CALCULATION
						.calculation.wrapper
							.wrapper
								p Subtotal
								p $450
							.wrapper
								p Coupon
								p -$50
							.wrapper
								p Shipping
								p Free Shipping
							hr
							.wrapper
								p Total
								p $400
				.order-controls.wrapper
					button.white-button.small-button UPDATE TOTALS
					button.green-button.small-button PROCEED TO CHECKOUT
		footer
			.top-section
				.container.wrapper
					.wrapper
						p We're confident we've provided all the best for you. Stay connect with us.
					.contacts.wrapper
						a(href='#')
							i.fab.fa-facebook-f
						a(href='#')
							i.fab.fa-twitter
						a(href='#')
							i.fab.fa-instagram
						a(href='#')
							i.fab.fa-linkedin-in
						a(href='#')
							i.fab.fa-behance
			.middle-sections
				.container.wrapper
					.section
						h6 NAVIGATION
						a(href='#') Home
						a(href='#') Catalog
						a(href='#') Search
					.section
						h6 CATEGORIES
						a(href='#') Women
						a(href='#') Men
						a(href='#') Kids
						a(href='#') Jewellery
						a(href='#') Accessories
					.section
						h6 ACCOUNT
						a(href='#') Sign In
						a(href='#') Sign Up
						a(href='#') My Homepage
						a(href='#') My Cart
					.section
						h6 CONTACT INFO
						p
							i.fas.fa-globe-americas
							| 1234 Your Address, Country
						p
							i.fas.fa-phone-alt
							| +1 123 456 789
						p
							i.fas.fa-envelope
							| info@company.com
			.bottom-section
				.container.wrapper
					.wrapper
						p Copyright 2020 RenoshopBee all right reserved - Developed by Oleksandr Hlukhyi
					.payment-methods.wrapper
						.payment-method
							i.fab.fa-cc-visa
						.payment-method
							i.fab.fa-cc-paypal
						.payment-method
							i.fab.fa-cc-mastercard
						.payment-method
							i.fab.fa-cc-amazon-pay

		.overlay#overlay

		.menu#menu
			a.logo(href='#')
				span.bold RENOSHOP
				span BEE
			hr
			.navigation.wrapper
				a(href='#') SIGN IN
				a(href='#') SIGN UP
			hr
			.navigation.wrapper
				a(href='#') HOME
				a(href='#') WOMEN
				a(href='#') MEN
				a(href='#') KIDS
				a(href='#') JEWELLERY
				a(href='#') ACCESSORIES

		#sign-in.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
			.modal-dialog(role='document')
				.modal-content
					.modal-header
						a.logo(href='#')
							span.bold RENOSHOP
							span BEE
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
					.modal-body
						p Enter your credentials to sign in.
						input.small(type='text' id='sign-in-email' placeholder='E-mail')
						input.small(type='text' id='sign-in-password' placeholder='Password')
						p
							input(type='checkbox')
							| Remember me?
					.modal-footer
						a(href='#')
							.button.green-button.small-button SIGN IN

		#sign-up.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
			.modal-dialog(role='document')
				.modal-content
					.modal-header
						a.logo(href='#')
							span.bold RENOSHOP
							span BEE
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
					.modal-body
						p Enter your credentials to create a new account.
						input.small(type='text' id='sign-up-first-name' placeholder='First Name')
						input.small(type='text' id='sign-up-last-name' placeholder='Last Name')
						input.small(type='text' id='sign-up-phone' placeholder='Phone')
						input.small(type='text' id='sign-up-email' placeholder='E-mail')
						input.small(type='text' id='sign-up-password' placeholder='Password')
						input.small(type='text' id='sign-up-repeat-password' placeholder='Repeat password')
					.modal-footer
						a(href='#')
							.button.green-button.small-button SIGN UP