html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Shopping Cart | RENOSHOPBEE ©
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")
		link(rel="stylesheet", href="css/libs.min.css")
		link(rel="stylesheet", href="css/main.min.css")
		script(src="js/libs.min.js")
		script(src="js/common.js")
	body
		header
			.contacts-bar.wrapper
				.contacts.wrapper
					a(href='#').wrapper
						i.fas.fa-phone-alt
						div +1 123 456 789
					div |
					a(href='#').wrapper
						i.fas.fa-envelope
						div info@company.com
				.contacts.wrapper
					a(href='#')
						i.fab.fa-facebook-f
					a(href='#')
						i.fab.fa-twitter
					a(href='#')
						i.fab.fa-instagram
					a(href='#')
						i.fab.fa-linkedin-in
					a(href='#')
						i.fab.fa-behance
			.navigation-bar.wrapper
				a.logo(href='#')
					span.bold RENOSHOP
					span BEE
				.navigation.wrapper
					a(href='#') HOME
					a(href='#') WOMEN
					a(href='#') MEN
					a(href='#') KIDS
					a(href='#') JEWELLERY
					a(href='#') ACCESSORIES
				.small-navigation.wrapper
					#search.wrapper
						a(href='#')#close-search-button
							i.fas.fa-times
						input(type='text' id='search-field' placeholder='Search...')
					a(href='#')#search-button
						i.fas.fa-search
					a(href='#')
						i.fas.fa-shopping-cart
							.items-count 3
					a(href='#')#menu-button
						i.fas.fa-bars
		main
			.container
				ul.breadcrumbs
					li
						a(href='#') Home
					li
						a(href='#') Shop
					li
						a(href='#') Cart
		footer
			.top-section
				.container.wrapper
					p We're confident we've provided all the best for you. Stay connect with us.
					.contacts.wrapper
						a(href='#')
							i.fab.fa-facebook-f
						a(href='#')
							i.fab.fa-twitter
						a(href='#')
							i.fab.fa-instagram
						a(href='#')
							i.fab.fa-linkedin-in
						a(href='#')
							i.fab.fa-behance
			.middle-sections
				.container.wrapper
					.section
						h6 INFORMATION
						a(href='#') Delivery Information
						a(href='#') Discount
						a(href='#') Site Map
						a(href='#') Privacy Policy
						a(href='#') My Account
					.section
						h6 MY ACCOUNT
						a(href='#') Sign In
						a(href='#') View Cart
						a(href='#') My Wishlist
						a(href='#') Check Out
						a(href='#') Track My Order
					.section
						h6 HELP
						a(href='#') F.A.Q.
						a(href='#') Shipping
						a(href='#') Contact Us
						a(href='#') Privacy Policy
					.section
						h6 CONTACT INFO
						p
							i.fas.fa-globe-americas
							| 1234 Your Address, Country
						p
							i.fas.fa-phone-alt
							| +1 123 456 789
						p
							i.fas.fa-envelope
							| info@company.com
			.bottom-section
				.container.wrapper
					p Copyright 2020 RenoshopBee all right reserved - Developed by Oleksandr Hlukhyi
					.payment-methods.wrapper
						.payment-method
							i.fab.fa-cc-visa
						.payment-method
							i.fab.fa-cc-paypal
						.payment-method
							i.fab.fa-cc-mastercard
						.payment-method
							i.fab.fa-cc-amazon-pay

		.overlay#overlay
		.menu#menu
			a.logo(href='#')
				span.bold RENOSHOP
				span BEE
			hr
			.navigation.wrapper
				a(href='#') HOME
				a(href='#') WOMEN
				a(href='#') MEN
				a(href='#') KIDS
				a(href='#') JEWELLERY
				a(href='#') ACCESSORIES