html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Product Name | RENOSHOPBEE ©
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")
		link(rel="stylesheet", href="css/libs.min.css")
		link(rel="stylesheet", href="css/main.min.css")
		script(src="js/libs.min.js")
		script(src="js/common.js")
	body
		header
			.contacts-bar.wrapper
				.contacts.wrapper
					a(href='#').wrapper
						i.fas.fa-phone-alt
						div +1 123 456 789
					div |
					a(href='#').wrapper
						i.fas.fa-envelope
						div info@company.com
				.user-info.wrapper
					a(href='#').wrapper
						//<i class='fas fa-sign-in-alt'></i>
						i.fas.fa-user
						//<div>Sign In</div>
						div Alex Hlukhyi
					div |
					a(href='#').wrapper
						//<i class='fas fa-user-plus'></i>
						i.fas.fa-sign-out-alt
						//<div>Sign Up</div>
						div Sign Out
			.navigation-bar.wrapper
				a.logo(href='#')
					span.bold RENOSHOP
					span BEE
				.navigation.wrapper
					a(href='#') HOME
					a(href='#') WOMEN
					a(href='#') MEN
					a(href='#') KIDS
					a(href='#') JEWELLERY
					a(href='#') ACCESSORIES
				.small-navigation.wrapper
					#search.wrapper
						a(href='#')#close-search-button
							i.fas.fa-times
						input.small(type='text' id='search-field' placeholder='Search...')
					a(href='#')#search-button
						i.fas.fa-search
					a(href='#')
						i.fas.fa-shopping-cart
							.items-count 3
					a(href='#')#menu-button
						i.fas.fa-bars
		main
			.container
				ul.breadcrumbs
					li
						a(href='#') Home
					li
						a(href='#') Shop
					li
						a(href='#') Product Name
				.product.large
					.product-images
						img.big-image
						.thumbnails.wrapper
							a(href='#')
								img
							a(href='#')
								img
							a(href='#')
								img
							a(href='#')
								img
					.product-info
						a(href='#')
							h5 Cruise Analog Dual
						.price 250.00
						.marks.wrapper
							i.fas.fa-star
							i.fas.fa-star
							i.fas.fa-star
							i.fas.fa-star
							i.far.fa-star
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto corporis ex fugit illum perferendis, sunt vitae? Dolor iste nobis quae repudiandae sequi similique sint! Excepturi explicabo laboriosam quae voluptatum!
						hr
						.properties
							select.medium
								option(disabled selected) Select Size
								option XS
								option S
								option M
								option L
								option XL
								option XXL
							select.medium
								option(disabled selected) Select Color
								option Red
								option Black
								option White
							input.medium(type='number' placeholder='Select Quantity')
						.actions
							a.action(href='#')
								i.fas.fa-shopping-cart
							a.action(href='#')
								i.fas.fa-heart
							a.action(href='#')
								i.fas.fa-retweet
					.product-description
						h5 Description
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut, eaque eos nihil reprehenderit vel. Accusantium aliquid expedita, harum ipsam itaque obcaecati provident quos repellat! Ducimus nihil nulla obcaecati praesentium! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut, eaque eos nihil reprehenderit vel. Accusantium aliquid expedita, harum ipsam itaque obcaecati provident quos repellat! Ducimus nihil nulla obcaecati praesentium! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut, eaque eos nihil reprehenderit vel. Accusantium aliquid expedita, harum ipsam itaque obcaecati provident quos repellat! Ducimus nihil nulla obcaecati praesentium!
					hr
					.product-reviews
						h5 Reviews
						.reviews.wrapper
							p 2 reviews to Cruise Analog Dual
							.review.wrapper
								img.thumbnail
								.review-body
									.wrapper
										.marks.wrapper
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star
											i.far.fa-star
										.date 16.12.2019
									h5 Alex Hlukhyi
									p Looks pretty good. Gonna buy another products here.
							.review.wrapper
								img.thumbnail
								.review-body
									.wrapper
										.marks.wrapper
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star
										.date 14.11.2019
									h5 Daniel Kazantsev
									p This one is great. I will definitely recommend your shop to my friends!
							.review.wrapper
								img.thumbnail
								.review-body
									.wrapper
										.marks.wrapper
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star
											i.far.fa-star
											i.far.fa-star
										.date 01.11.2019
									h5 John Johnson
									p Don't like the quality at all, but shop is working good.
							.new-review.wrapper
								h5 Add a review
								p Your rating:
								.marks.wrapper
									i.far.fa-star
									i.far.fa-star
									i.far.fa-star
									i.far.fa-star
									i.far.fa-star
								p Your review:
								textarea
								button.green-button.small-button SUBMIT
					.related-products
						.title
							h3 RELATED PRODUCTS
							.small-tag-line Check this out too
						.items.wrapper
							.product.small
								img.small-image
								.actions
									a.action(href='#')
										i.fas.fa-shopping-cart
									a.action(href='#')
										i.fas.fa-heart
									a.action(href='#')
										i.fas.fa-retweet
								a(href='#')
									h5 Cruise Dual Analog
								.price 250.00
								.marks.wrapper
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star
									i.far.fa-star
							.product.small
								img.small-image
								.actions
									a.action(href='#')
										i.fas.fa-shopping-cart
									a.action(href='#')
										i.fas.fa-heart
									a.action(href='#')
										i.fas.fa-retweet
								a(href='#')
									h5 Crown Summit Backpack
								.price 250.00
								.marks.wrapper
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star
									i.far.fa-star
							.product.small
								img.small-image
								.actions
									a.action(href='#')
										i.fas.fa-shopping-cart
									a.action(href='#')
										i.fas.fa-heart
									a.action(href='#')
										i.fas.fa-retweet
								a(href='#')
									h5 Joust Duffle Bag
								.price 250.00
								.marks.wrapper
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star
									i.far.fa-star
							.product.small
								img.small-image
								.actions
									a.action(href='#')
										i.fas.fa-shopping-cart
									a.action(href='#')
										i.fas.fa-heart
									a.action(href='#')
										i.fas.fa-retweet
								a(href='#')
									h5 Voyage Yoga Bag
								.price 250.00
								.marks.wrapper
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star
									i.far.fa-star

		footer
			.top-section
				.container.wrapper
					.wrapper
						p We're confident we've provided all the best for you. Stay connect with us.
					.contacts.wrapper
						a(href='#')
							i.fab.fa-facebook-f
						a(href='#')
							i.fab.fa-twitter
						a(href='#')
							i.fab.fa-instagram
						a(href='#')
							i.fab.fa-linkedin-in
						a(href='#')
							i.fab.fa-behance
			.middle-sections
				.container.wrapper
					.section
						h6 NAVIGATION
						a(href='#') Home
						a(href='#') Catalog
						a(href='#') Search
					.section
						h6 CATEGORIES
						a(href='#') Women
						a(href='#') Men
						a(href='#') Kids
						a(href='#') Jewellery
						a(href='#') Accessories
					.section
						h6 ACCOUNT
						a(href='#') Sign In
						a(href='#') Sign Up
						a(href='#') My Homepage
						a(href='#') My Cart
					.section
						h6 CONTACT INFO
						p
							i.fas.fa-globe-americas
							| 1234 Your Address, Country
						p
							i.fas.fa-phone-alt
							| +1 123 456 789
						p
							i.fas.fa-envelope
							| info@company.com
			.bottom-section
				.container.wrapper
					.wrapper
						p Copyright 2020 RenoshopBee all right reserved - Developed by Oleksandr Hlukhyi
					.payment-methods.wrapper
						.payment-method
							i.fab.fa-cc-visa
						.payment-method
							i.fab.fa-cc-paypal
						.payment-method
							i.fab.fa-cc-mastercard
						.payment-method
							i.fab.fa-cc-amazon-pay

		.overlay#overlay

		.menu#menu
			a.logo(href='#')
				span.bold RENOSHOP
				span BEE
			hr
			.navigation.wrapper
				a(href='#') SIGN IN
				a(href='#') SIGN UP
			hr
			.navigation.wrapper
				a(href='#') HOME
				a(href='#') WOMEN
				a(href='#') MEN
				a(href='#') KIDS
				a(href='#') JEWELLERY
				a(href='#') ACCESSORIES

		#sign-in.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
			.modal-dialog(role='document')
				.modal-content
					.modal-header
						a.logo(href='#')
							span.bold RENOSHOP
							span BEE
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
					.modal-body
						p Enter your credentials to sign in.
						input.small(type='text' id='sign-in-email' placeholder='E-mail')
						input.small(type='text' id='sign-in-password' placeholder='Password')
						p
							input(type='checkbox')
							| Remember me?
					.modal-footer
						a(href='#')
							.button.green-button.small-button SIGN IN

		#sign-up.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
			.modal-dialog(role='document')
				.modal-content
					.modal-header
						a.logo(href='#')
							span.bold RENOSHOP
							span BEE
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
					.modal-body
						p Enter your credentials to create a new account.
						input.small(type='text' id='sign-up-first-name' placeholder='First Name')
						input.small(type='text' id='sign-up-last-name' placeholder='Last Name')
						input.small(type='text' id='sign-up-phone' placeholder='Phone')
						input.small(type='text' id='sign-up-email' placeholder='E-mail')
						input.small(type='text' id='sign-up-password' placeholder='Password')
						input.small(type='text' id='sign-up-repeat-password' placeholder='Repeat password')
					.modal-footer
						a(href='#')
							.button.green-button.small-button SIGN UP