hr
	height: 1px
	width: 100%
	color: $thelightestgrey
	background-color: $thelightestgrey
	border: none

a, button
	white-space: nowrap
	transition: color 0.3s

select
	font-family: 'Roboto', sans-serif
	color: $grey

select.medium
	border: 1px solid $thelightestgrey
	padding: 11px 21px 12px

input
	font-family: 'Roboto', sans-serif
	border: 1px solid $thelightestgrey

input.big
	padding: 15px 25px

input.medium
	padding: 10px 20px

input.small
	padding: 5px 15px


.grey-button
	font-size: 16pt
	font-family: 'Poppins Bold', 'Roboto Black', sans-serif
	color: $grey
	border: $grey solid 3px
	transition: color 0.3s, border-color 0.3s
	padding: 10px 25px
	&:hover
		color: $green
		border-color: $green

.white-button
	padding: 15px 30px
	border: 1px solid $thelightestgrey

.green-button
	padding: 15px 30px
	font-family: 'Poppins', 'Roboto', sans-serif
	background-color: $green
	color: white
	i
		color: white

.small-button
	padding: 9px

.form-group
	input
		margin-right: 10px


.breadcrumbs
	margin: 50px 0
	list-style: none
	li
		display: inline
		a
			color: $grey
		&:last-child
			a
				color: $green
		&:not(:last-child):after
			content: '>>'
			margin: 0 15px

.logo
	span
		font-family: 'Poppins Light', 'Roboto Light', sans-serif
		color: $grey
		font-size: 24pt
	.bold
		color: $green
		font-family: 'Poppins Bold', 'Roboto Black', sans-serif

h1, h2, h3, h4, h5, h6
	white-space: nowrap
	margin: 0
h2, h4, h5
	margin: 5px 0
h2
	font-family: 'Poppins Bold', 'Roboto Black', sans-serif
	font-size: 60pt
	line-height: 60pt
h3, h4
	font-family: 'Poppins Bold', 'Roboto Black', sans-serif
h3
	font-size: 30pt
	line-height: 30pt
h4
	font-size: 18pt
	line-height: 18pt
h5
	font-family: 'Poppins Regular', 'Roboto', sans-serif
	font-size: 14pt
	font-weight: 600
	margin-bottom: 10px
h6
	font-family: 'Poppins Regular', 'Roboto', sans-serif
	font-size: 16pt
	font-weight: 600
	margin-bottom: 40px

.big-tag-line, .middle-tag-line, .small-tag-line
	white-space: nowrap

.big-tag-line, .middle-tag-line
	font-family: 'Poppins Regular', 'Roboto', sans-serif
	font-size: 30pt
	font-weight: 600
	color: white

.middle-tag-line
	font-size: 34pt
	transform: scaleX(0.75)

.small-tag-line
	font-family: 'Droid Serif Italic', 'Times New Roman', serif
	font-size: 14pt
	margin: 10px 0
	color: $green

.items
	flex-wrap: wrap
	margin: 0 -10px

.small-image, .middle-image, .big-image
	background-color: $darkgrey
	margin-bottom: 30px

.small-image
	width: 270px
	height: 400px

.middle-image
	width: 300px
	height: 450px

.big-image
	width: 450px
	height: 600px

.thumbnails
	flex-wrap: wrap
	width: 100%
	img
		background-color: $darkgrey
		width: 90px
		height: 100px
		transition: box-shadow 0.5s
	a:hover img
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.5)

// Product Styling

.product
	display: flex
	.actions
		display: flex
		.action
			background-color: $green
			margin: 5px
			font-size: 18pt
			padding: 10px
	h5
		color: $grey
	.price
		font-family: 'Droid Serif', 'Times New Roman', serif
		font-size: 18pt
		color: $green
		margin-bottom: 20px
		&:before
			content: '$'
	.marks
		color: $yellow
		i
			&:not(:last-child)
				margin-right: 5px

.product.small
	position: relative
	flex-direction: column
	align-items: flex-start
	justify-content: center
	margin: 0 auto 70px
	.actions
		opacity: 0
		transition: opacity 0.3s
		position: absolute
		top: 5px
		right: 5px
		flex-direction: column
	&:hover .actions
		opacity: 1

.product.large
	flex-direction: row
	justify-items: flex-start
	align-items: flex-start
	flex-wrap: wrap
	> div
		display: flex
		flex-direction: column
		align-items: flex-start
		margin-bottom: 60px
	.product-images
		margin-right: 40px
	.product-info
		min-width: 210px
		width: calc(100% - 490px)
		padding: 10px
	.product-description, .product-reviews
		width: 100%
	p
		font-family: 'Roboto', sans-serif
		font-size: 14px
		margin: 30px 0
		text-align: justify
	.properties
		display: flex
		flex-wrap: wrap
		margin: 15px 0
		> *
			margin: 5px 15px 5px 0
	.actions
		margin: 0 -5px

.overlay
	opacity: 0
	visibility: hidden
	height: 100vh
	width: 100%
	position: fixed
	top: 0
	background-color: rgba(0, 0, 0, 0.75)
	z-index: 99
	transition: 0.5s all

.modal-body
	display: flex
	flex-direction: column
	p
		font-size: 12pt
	> *
		&:not(:last-child)
			margin-bottom: 15px