hr
	height: 1px
	width: 100%
	color: $thelightestgrey
	background-color: $thelightestgrey
	border: none

p.important:after
	content: ' *'
	color: red

p.error
	margin-top: -15px
	font-size: 10pt !important
	color: red
	text-align: right

select
	font-family: 'Roboto', sans-serif
	color: $grey

select.medium
	border: 1px solid $thelightestgrey
	padding: 11px 21px 12px

input
	font-family: 'Roboto', sans-serif
	border: 1px solid $thelightestgrey

input.wrong
	border: 1px solid red !important

input.big
	padding: 15px 25px

input.medium
	padding: 10px 20px

input.small
	padding: 9px

input[type='checkbox'], input[type='radio']
	margin-right: 15px

textarea
	border: 1px solid $thelightestgrey
	margin-bottom: 15px
	width: 100%
	resize: none
	padding: 5px
	min-height: 150px

button.delete
	color: black
	i
		font-size: 16pt
	&:hover
		color: $green

a, button
	transition: color 0.3s

button
	box-sizing: border-box
	white-space: nowrap

button.grey
	font-size: 16pt
	font-family: 'Poppins Bold', 'Roboto Black', sans-serif
	color: $lightgrey
	border: $lightgrey solid 3px
	transition: color 0.3s, border-color 0.3s
	padding: 10px 25px
	&:hover
		color: $green
		border-color: $green

button.white
	padding: 15px 30px
	border: 1px solid $thelightestgrey
	color: black

button.green
	padding: 15px 30px
	font-family: 'Poppins', 'Roboto', sans-serif
	background-color: $green
	border: 1px solid $green
	color: white
	i
		color: white

button.small
	padding: 9px


.delete-button
	color: black
	i
		font-size: 16pt
	&:hover
		color: $green

.grey-button
	font-size: 16pt
	font-family: 'Poppins Bold', 'Roboto Black', sans-serif
	color: $grey
	border: $grey solid 3px
	transition: color 0.3s, border-color 0.3s
	padding: 10px 25px
	&:hover
		color: $green
		border-color: $green

.white-button
	padding: 15px 30px
	border: 1px solid $thelightestgrey
	color: black

.green-button
	padding: 15px 30px
	font-family: 'Poppins', 'Roboto', sans-serif
	background-color: $green
	border: 1px solid $green
	color: white
	i
		color: white

.small-button
	padding: 9px

.form-group
	flex-wrap: wrap
	input
		flex-grow: 1
		&:not(:last-child)
			margin-right: 10px

.breadcrumbs
	margin: 50px 0
	list-style: none
	li
		white-space: nowrap
		display: inline
		a
			color: $grey
		&:last-child
			a
				color: $green
		&:not(:last-child):after
			content: '>>'
			margin: 0 15px

.logo
	span
		font-family: 'Poppins Light', 'Roboto Light', sans-serif
		color: $grey
		font-size: 24pt
	.bold
		color: $green
		font-family: 'Poppins Bold', 'Roboto Black', sans-serif

.logo.short
	display: none

h1, h2, h3, h4, h5, h6
	margin: 0
h2, h4, h5
	margin: 5px 0
h2
	font-family: 'Poppins Bold', 'Roboto Black', sans-serif
	font-size: 60pt
	color: $lightgrey
h3, h4
	text-align: center
	font-family: 'Poppins Bold', 'Roboto Black', sans-serif
h3
	font-size: 30pt
	line-height: 30pt
h4
	font-size: 18pt
	line-height: 18pt
h5
	font-family: 'Poppins Regular', 'Roboto', sans-serif
	font-size: 14pt
	font-weight: 600
	margin-bottom: 10px
h6
	font-family: 'Poppins Regular', 'Roboto', sans-serif
	font-size: 16pt
	font-weight: 600
	margin-bottom: 40px

.big-tag-line, .middle-tag-line, .small-tag-line
	text-align: center

.big-tag-line, .middle-tag-line
	font-family: 'Poppins Regular', 'Roboto', sans-serif
	font-size: 30pt
	font-weight: 600
	color: white

.middle-tag-line
	font-size: 34pt
	transform: scaleX(0.75)

.small-tag-line
	font-family: 'Droid Serif Italic', 'Times New Roman', serif
	font-size: 14pt
	margin: 10px 0
	color: $green

.small-image
	width: 270px
	height: 400px

.big-image
	width: 450px
	height: 600px

.product
	display: flex
	.image
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		img
			width: 100%
	img
		margin-bottom: 30px
	.actions
		display: flex
		.action
			background-color: $green
			margin: 5px
			font-size: 18pt
			padding: 10px
	h5
		color: $grey
.price
	font-family: 'Droid Serif', 'Times New Roman', serif
	font-size: 18pt
	color: $green
	margin-bottom: 20px
	&:before
		content: '$'
.marks
	color: $yellow
	i
		&:not(:last-child)
			margin-right: 5px

.date
	font-family: 'Droid Serif Italic', 'Times New Roman', serif
	font-size: 10pt
	color: $lightestgrey

.product.small
	position: relative
	flex-direction: column
	align-items: flex-start
	justify-content: center
	margin: 0 auto 70px
	overflow: hidden
	width: 270px
	.image
		max-height: 400px
		img
			width: 100%
	.actions
		opacity: 0
		transition: opacity 0.3s
		position: absolute
		top: 5px
		right: 5px
		flex-direction: column
	&:hover .actions
		opacity: 1

.product.large
	flex-direction: row
	justify-items: flex-start
	align-items: flex-start
	flex-wrap: wrap
	.product-images
		.image
			width: 450px
			img
				width: 100%
	img.thumbnail
		width: 80px
	> div:not(.related-products)
		display: flex
		flex-direction: column
		align-items: flex-start
	p
		font-family: 'Roboto', sans-serif
		font-size: 14px
		margin: 30px 0
		text-align: justify
	.actions
		margin: 0 -5px
	.thumbnails
		flex-wrap: wrap
		width: 100%
		img
			background-color: $darkgrey
			width: 90px
			height: 100px
			transition: box-shadow 0.5s
		a:hover img
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.5)

.product-images, .product-info
	margin-bottom: 60px
.product-images
	margin-right: 40px
.product-info
	min-width: 210px
	width: calc(100% - 490px)
	padding: 10px
.product-description, .product-reviews
	margin: 20px 0
	width: 100%
.reviews, .review
	width: 100%
.reviews
	margin-top: 15px
	background-color: $thelightestgrey
	flex-direction: column
	align-items: flex-start
	> p
		margin: 15px !important
.reviews, .review, .new-review
	padding: 15px
.review
	justify-content: flex-start
	margin-bottom: 15px
	img
		align-self: flex-start
.new-review
	flex-direction: column
	align-items: flex-start
	width: 100%
	p
		margin: 5px 0 !important
	button
		align-self: flex-end
.review-body
	background-color: white
	width: calc(100% - 95px)
	margin-left: 15px
	padding: 30px 20px 10px
	flex-direction: column
	align-items: flex-start
	h5
		margin: 15px 0
	p
		margin: 15px 0 !important
	.marks
		max-width: 100px
.related-products
	width: 100%
	margin-bottom: 60px
.properties
	display: flex
	flex-wrap: wrap
	margin: 15px 0
	> *
		margin: 5px 15px 5px 0

table
	width: 100%
th, td
	border: 1px solid $thelightestgrey
	padding: 15px 5px
	text-align: center
	white-space: nowrap
	img
		margin-right: 15px
	button
		margin-left: 15px
	input
		width: 50px

.overlay
	opacity: 0
	visibility: hidden
	height: 100vh
	width: 100%
	position: fixed
	top: 0
	background-color: rgba(0, 0, 0, 0.75)
	z-index: 99
	transition: 0.5s all
	&.active
		opacity: 1
		visibility: visible

.modal-body
	display: flex
	flex-direction: column
	p
		font-size: 12pt
	> *
		&:not(:last-child)
			margin-bottom: 15px

.filters-button
	display: none
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.1)
	position: fixed
	top: 50%
	left: 0
	transform: translate(-50%, -50%)
	color: green
	background-color: white
	border-radius: 50%
	padding: 10px 15px 10px 30px
	i
		font-size: 36pt